* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}
canvas {
      width: auto;
      height: 100vh;
      max-height: 100vh;
      max-height: -webkit-fill-available;
      max-width: auto;
      z-index: 10000;
      margin: 0 auto;
      padding: 0;
      border: none;
      display: block;
  }