html, body {
  margin: 0;
  padding: 0;
    height: 100%;
    
}
body {
  margin: 0;
  display: flex;
  background-color: #000000;
  /* This centers our sketch horizontally. */
  justify-content: center;
border: solid;
  /* This centers our sketch vertically. */
  align-items: center;
  /* leave it to hide the scrollbars */
  overflow: hidden;  
}