body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .2)
}

canvas {
    box-shadow: #5c635c 0 0 10px 0
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

progress {
    height: 15px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

.hide {
    display: none;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    font-family: "Verdana", sans-serif
}

#loader {
    font-family: "Verdana", sans-serif;
    font-size: .8em;
    color: #3f3f3f;
    text-align: center;
    margin-top: 100px;
}

#loader p {
    font-size: 10px;
    margin: 0;
    color: #3f3f3f;
}

#loader h4 {
    margin-top: 20px;
    font-size: 1em;
    color: #3f3f3f;
}

#loader hr {
    max-width: 300px;
    width: 100%;
    color: #c2c2c2;

}

/* Loader */
.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #da2099;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

