html,
body {
    margin: auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #000;
    color: #fff;
    font: 32px monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.3
}

canvas {
    display: block;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    object-fit: contain;
    /* background: transparent; */
}

#overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -999;
}

#defaultCanvas0 {
    position: absolute;
    z-index: 998;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#p5_loading1 {
    display: flex !important;
    flex-direction: column;
}


/* 
html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
} */

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#popup-content {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    max-width: 400px;
    color: #000;
    max-height: 80%;
    overflow: auto;
}

p {
    font-size: 12px;
}

p2 {
    font-style: oblique;
    font-size: 12px;
}

h3 {
    font-size: 32px;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

p3 {
    font-size: 12px;
}

p4 {
    font-size: 12px;
}

#close-btn {
    color: #fff;
    display: flex;
    padding: 5px 5px 5px 5px;
    background-color: rgb(0, 0, 0);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#subP {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

p4 {
    padding-top: 20px;
}

#desP {
    padding: 10px 0 10px 0;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
}

#titleP {
    display: flex;
    justify-content: space-between;
    align-items: center;
}