html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  background-color: #111227;
  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
  /* leave it to hide the scrollbars */
  overflow: hidden;
}

#mainscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainscreen canvas {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}
