body {
  background-color: black;
  display: flex;
  /* leave it to hide the scrollbars */
  overflow: hidden;
  margin: 0 !important;
  justify-content:center;
  align-items: center;
}
.art{
  display: block !important;
}
.p5Canvas{
  display: none;
}