*{
    padding:0;
    margin:0;
    overflow:hidden!important;
}
.canvasContainer{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    background: white;
}
.canvas{
    width:95%;
    max-width:800px;
    aspect-ratio:1/1;
}
.canvas canvas{
    width:100%!important;
    height:100%!important;
}