html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
 overflow: hidden;
 background: rgb(18, 25, 31);
}

main {
  margin:auto;
}

#p5_loading {
  color:rgb(239, 238, 232);
   width:100vw; 
   height:100vh;
   font-family: Tahoma, Arial, Helvetica, sans-serif; 
   text-align:right;
   display: flex;
   justify-content: center;
   align-items: center;  
}