html,body{
    margin: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
canvas{
    width: 100vmin;
    height: 100vmin;
    user-select: none;
    -webkit-user-select: none;
}
