* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: black;
  min-height: 100vh;
  background: black;
}

canvas {
  margin: 0;
  width: 100vw !important;
  height: 100vh !important;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: black;
}

main {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

main .overlay-toggle {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  color: black;
  z-index: 1;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .overlay {
  --color: white;
  --bg-color: black;
  color: var(--color);
  background-color: var(--bg-color);
  font-family: monospace;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 75vh;
  height: 100vh;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

main .overlay svg {
  opacity: 0.5;
  width: 35px;
  position: absolute;
  bottom: 2rem;
}

main .overlay h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

main .overlay h2 {
  font-weight: 400;
  font-style: italic;
}

main .overlay hr {
  margin: 3rem 0;
  width: 10%;
  border: 1px solid var(--color);
}

main .overlay select {
  width: 10vh;
  margin: 1rem 0 0 0;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color);
  background-color: transparent;
  color: var(--color);
  font-family: monospace;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  border-radius: 0.25rem;
  cursor: pointer;
}

main .overlay select option {
  background-color: var(--bg-color);
  color: var(--color);
  font-family: monospace;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}

main .overlay button {
  width: 10vh;
  margin: 0.5rem 0 1rem 0;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color);
  background-color: var(--color);
  color: var(--bg-color);
  font-family: monospace;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  border-radius: 0.25rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

main .overlay button:hover {
  background-color: transparent;
  color: var(--color);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-family: monospace;
  font-size: 2vmin;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.loader.hidden {
  opacity: 0;
}

.loader .bar {
  --bar-width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-50% + 2vmin + 1em));
          transform: translate(-50%, calc(-50% + 2vmin + 1em));
  width: 16vmin;
  height: 3px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 10px;
  transition: --bar-width 0.2s ease-out;
}

.loader .bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--bar-width);
  height: 100%;
  background-color: white;
  border-radius: 10px;
}

.frameSlider {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

[type=range] {
  -webkit-appearance: none;
  background: transparent;
  margin: 12px 0;
  width: 200px;
}

[type=range]::-moz-focus-outer {
  border: 0;
}

[type=range]:focus {
  outline: 0;
}

[type=range]:focus::-webkit-slider-runnable-track {
  background: #fbfbfc;
}

[type=range]:focus::-ms-fill-lower {
  background: #eceff1;
}

[type=range]:focus::-ms-fill-upper {
  background: #fbfbfc;
}

[type=range]::-webkit-slider-runnable-track {
  cursor: default;
  height: 8px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 200px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #eceff1;
  border: 2px solid #cfd8dc;
  border-radius: 5px;
}

[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: #000;
  border: 2px solid #eceff1;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
  margin-top: -10px;
}

[type=range]::-moz-range-track {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  cursor: default;
  height: 8px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 200px;
  background: #eceff1;
  border: 2px solid #cfd8dc;
  border-radius: 5px;
  height: 4px;
}

[type=range]::-moz-range-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: #000;
  border: 2px solid #eceff1;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: default;
  height: 24px;
  width: 24px;
}

[type=range]::-ms-track {
  cursor: default;
  height: 8px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 200px;
  background: transparent;
  border-color: transparent;
  border-width: 12px 0;
  color: transparent;
}

[type=range]::-ms-fill-lower {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #dde3e6;
  border: 2px solid #cfd8dc;
  border-radius: 10px;
}

[type=range]::-ms-fill-upper {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #eceff1;
  border: 2px solid #cfd8dc;
  border-radius: 10px;
}

[type=range]::-ms-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: #000;
  border: 2px solid #eceff1;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: default;
  height: 24px;
  width: 24px;
  margin-top: 2px;
}

[type=range]:disabled::-webkit-slider-thumb, [type=range]:disabled::-moz-range-thumb, [type=range]:disabled::-ms-thumb, [type=range]:disabled::-webkit-slider-runnable-track, [type=range]:disabled::-ms-fill-lower, [type=range]:disabled::-ms-fill-upper {
  cursor: not-allowed;
}
/*# sourceMappingURL=style.css.map */