
  html,
  body {
    /* overflow: hidden; */
    margin: 0;
    height: 100%;
  }

  body {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
  }

  canvas {
    margin: auto;
    display: block;
    width: 100vmin;
    height: auto;
    /* border: 1px solid red; */
    /* 
      image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges; */
  }