
 html, body {
  height: 100%;
  background-color: #ffffff;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

canvas {
  margin: 0;
  padding: 0;
  display: block;
}

:root {
  --color--blue: #1e90ff;
  --background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

._gradient_background {
  background: rgb(5, 8, 23);
  background: radial-gradient(circle, rgba(5, 8, 23, 1) 0%, rgba(55, 57, 4, 1) 27%, rgba(43, 21, 19, 1) 51%, rgba(35, 15, 69, 1) 79%, rgba(10, 13, 34, 1) 100%);
}


