body { padding: 0; margin: 0; background-color:#122; width: 100%;height: 100vh;display: flex;align-items: center;justify-content: center;}
.app {max-width:1024px; height:auto; width: 100%;}
#defaultCanvas0 {width:100vw!important; height:auto!important;max-width:1024px;}