html, body {
  height: 100%;
}

body {

  /* leave it to hide the scrollbars */
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

#defaultCanvas0 {
  position: absolute; z-index: 1; top: 0; left: 0; bottom: 0; right: 0; margin: auto; 
}