body {
  background-color: white;

  /* leave it to hide the scrollbars */
  overflow: hidden;
margin:0;
justify-content: center;
align-items: center;
display: flex;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}