body {
  /* leave it to hide the scrollbars */
  overflow: hidden;
}

#canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 1024px;
  max-height: 1024px;
}
