/* 

Style: pale purp
Author: nuflark
contact: https://twitter.com/enuflark
 

*/

body {
	background-color:#FFC20E;
	overflow:hidden;
	
	--color-one:#FFC20E; /* yellow-orangeish */
	--color-two:#99cccc;  /* pale green */
	--color-three:#ff66ff;  /* pale pink */
	--color-four:#000000; /* black */
	--color-five:#662D91; /* purple */	

}