body {
  background-color: rgb(0, 0, 0);
  /*max-width: 100%;*/
  /* leave it to hide the scrollbars */
  overflow: hidden;
  margin: 0px;

}

main canvas {
  height: auto !important;
  width: auto !important;
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
  touch-action: none;
}