html, body {
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  width: 840px;
  height: 840px;
}

@font-face {
  font-family: "STIX Two Text";
  src: url("./STIXTwoText-Regular.woff2") format("woff2");
}

svg {
  font-family: 'STIX Two Text';
}