*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
html 
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0 auto;
	background: #fff;

}
canvas {
  margin: 10px auto;
  width:100%;
  display: block;
  border: solid 13px black;
  padding: 26px 26px;
  box-shadow: -6px 6px 6px gray;
}


