body {
  background: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  width: 100vh;
  height: 100vh;
}

canvas {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
 }