body {
  margin: 0;
  border-radius: 0px;
  overflow: hidden;
  background-color: lightblue;
  height: 100vh;
  width: 100vw;
  min-width: 250px;
  min-height: 350px;
}

#container {
  object-fit:cover;
  min-width: 250px;
  min-height: 350px;
  height: 100vh;
  width: calc(25/35 * 100vh)
}

#container canvas {
  width: 100%;
  height: 100%;
}

#container img {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#container img {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#container img {
  width: 100%;
  height: 100%;
  visibility: hidden;
}