body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main {
  display: block;
  justify-content: center;
  align-items: center;
}
