html, body {
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
}

body { 
    margin: 0;
    background: #000;
    overflow: hidden;
}

canvas, button { 
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

button {
    opacity: 0;
}
