body{
    min-width:100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    background-color: #aca3a3;
    font-family: sans-serif;
}

#defaultCanvas0
{
    box-shadow: 2px 2px 18px #000;
    max-width: calc(100vw - 10px);
    max-height: calc(100vh - 10px);
} 





