html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.artboard {
  /* width: 92vw;
  height: 92vh;
  border-style: solid;
  border-color: white;
  border-width: 6vw;
  overflow: hidden; */
}