body {
    margin: 0;
    padding: 0;
    background: #bdbdbd;
    overflow: hidden;
  }
  canvas,
  body {
    touch-action: none;
    user-select: none;
  }
  canvas#defaultCanvas0 {
    box-shadow: 0px 4px 14px -4px rgba(0, 0, 0, 0.15) !important;
}