html, body {
  margin: 0;
  padding: 0;
}
div{
 display: none;
}
canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
img {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  height:auto;
  z-index: 2000;
  padding: 0px;
  margin: 0px;
}