body {
	background-color: white;
	display: flex;
	overflow: hidden;
	position: fixed;
  width: 100vw;
  height: 100vh;
	padding: 0;
	margin: 0;
	justify-content: center;
	align-items: center;
}
 canvas {
	object-fit: contain;
	width:0px !important;
	height:0px !important;
	
}


