body {
  background-color: #333333;
  color: #AAAAAA;
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  overflow: hidden;
  /* justify-content:center; */
  /* align-items: center; */
  /* display:flex; */
}
