html, body {
  margin: 0;
  padding: 0;
}

canvas#myCanvas {
  display: block;
  margin: 0px auto !important;  
}

#p5_loading img#loading_gif {
  width: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
